/* globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

:root {
  --primary: theme("colors.blue.300");
  --primary-focus: theme("colors.gray.50");

  --secondary: theme("colors.gray.900");

  --accent: theme("colors.blue.500");
}

[data-theme="dark"] {
  --primary: theme("colors.black");
  --primary-focus: theme("colors.gray.800");

  --secondary: theme("colors.gray.300");

  --accent: theme("colors.fuchsia.700");
}

[data-theme="monakai"] {
  --primary: #3c3d3e;

  --secondary: theme("colors.gray.300");

  --accent: #cc4f22;
}

[data-theme="pink"] {
  --primary: #402f4b;
  --primary-focus: #1a1320;

  --secondary: #dfbbf7;

  --accent: #f986c2;
}
